<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Uwe L. Korn" />
   <link href="http://logolyze.xhochy.com/atom.xml" rel="alternate" title="LogoLyze - The Graphical Analzyer" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">LogoLyze</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        LogoLyze<br />
        The <em>Graph</em>ical Analyzer<br />
        logolyze@xhochy.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/xhochy/logolyze/">github.com/xhochy/logolyze</a><br />
        <a href="http://twitter.com/logolyze/">twitter.com/logolyze</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://logolyze.xhochy.com/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to ATOM Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/xhochy/logolyze"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
